
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<body>
    <div class="container">
        <form id="contact" action="" method="">
            <h2>İletişim Sayfası</h2>
            <div class="form-control">
                <input placeholder="Adınız Soyadınız" type="text" required autofocus>
            </div>
            <div class="form-control">
                <input placeholder="E-Posta Adresiniz" type="email" required>
            </div>
            <div class="form-control">
                <input placeholder="Konu" type="text" required>
            </div>
            <div class="form-control">
                <textarea placeholder="Lütfen Mesajınızı Buraya Yazın.." required></textarea>
            </div>
            <div class="form-control">
                <button name="submit" type="submit" id="submit">GÖNDER</button>
            </div>
        </form>
    </div>
</body>

<style>

    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 13px;
        line-height: 30px;
        color: #888;
        background: #79A7A8;
    }

    .container {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding: 0;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact textarea,
    #contact button[type="submit"] {
        font: 500 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    }

    #contact {
        border-radius: 2rem;
        background: #FFF;
        padding: 25px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        #contact h2 {
            display: block;
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 15px;
        }

    .form-control {
        border: none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact textarea {
        width: 100%;
        border: 1px solid #ccc;
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px;
    }


    #contact button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #F5EBEB;
        color: #8e8e8e;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 15px;
    }

    #contact input:focus,
    #contact textarea:focus {
        outline: 0;
        border: 1px solid #aaa;
    }
</style>
